.banner1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  height: 1fr;
}

.banner2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  height: 1fr;
}

.banner3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  height: 1fr;
}

.divider{
  font-family: Kanit,arial;
  font-size: 40px;
  color: rgb(74, 6, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}